ENVIRONMENT=local
MAX_FILE_SIZE=10485760

LLM_PROVIDER='aws'
NLP_PROVIDER='aws'

AWS_KEY=
AWS_SECRET=
AWS_REGION=

COHERE_URL=
COHERE_API_KEY=
COHERE_MAX_TOKENS=100
COHERE_TEMPERATURE=0.7
COHERE_MODEL='command-light'


OPENAI_URL=
OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_MAX_TOKENS=1000
OPENAI_TEMPERATURE=0.7

CUSTOM_URL=
CUSTOM_SUFIX='/generate'
CUSTOM_API_KEY=